.select {
  border: 1px solid black;
  
}
.defaultItem {
  min-height: 20px;
}
.items {
  display: none;
  border: 1px solid black;
}
.active {
  display: block;
}
.selected {
  background-color: blue;
  color: white;
}